.trumbowyg-box, .trumbowyg-editor {
    margin: auto !important;
    width: auto !important;
}
.trumbowyg-button-pane {
    margin: 0 !important;
}
.trumbowyg-button-pane li {
    margin-bottom: 0 !important;
}
.trumbowyg-button-pane li button {
    width: 35px !important;
}
